.navbar-brand h3 {
  background-color: teal;
  color: white;
}

.col-sm-12 p {
  height: 50px;
}
.profileImg {
  float: left;
  width: 200px;
  height: 150px;
}

.col-sm-8 h1 {
  color: teal;
}
.col-sm-8 {
  background-color: white;
}

body {
  background-image: url("../images/ignasi_pattern_s.png");
}
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: lightgrey;
  text-align: center;
  font-size: 10px;
}
.btn {
  background-color: teal;
}

.navbar-nav .current {
  color: black;
}

img {
  padding: 10px;
}
